.cart-background {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9;
}

.cart {
    color: black;
    background-color: azure;
    border-radius: 10px;
    padding: 10px;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    overflow: auto;
}

.cart-close {
    float: right;
}

.cart h2 {
    margin-top: 1.35em;
    text-align: center;
    font-size: xx-large;
}

.cart-inner {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.cart-inner div {
    width: 100px;
    height: 100px;
    text-align: center;
    color: azure;
    font-size: 100px;
    text-shadow: 2px 2px black;
    border: 2px solid black;
    border-radius: 5px;
    background-size: cover;
    vertical-align: middle;
    line-height: 100px;
}

.cart-confirm {
    margin-top: 2em;
    width: 100%;
}
