.card {
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
    border: 1px solid black;
    background-color: azure;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
}
  
.card-image {
    width: 240px;
}
  
.card-title {
    color: navy;
    font-size: larger;
}
  
.card-cost {
    padding: 0;
    margin: 0;
    color: red;
    font-size: large;
    font-weight: bold;
}

.card-buttons {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card-buttons input {
    width: 2.5em;
    height: 2em;
    font-size: large;
    text-align: center;
}

.card-total {
    padding: 0;
    margin: 0;
    color: black;
    font-weight: bolder;
    font-size: xx-large;
    text-align: end;
    flex-grow: 1;
}