#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
  border: 1px solid black;
  background-color: azure;
  overflow: hidden;
}

.card-image {
  height: 240px;
  width: 100%;
}

.card-title {
  color: navy;
  font-size: large;
}

.card-cost {
  color: red;
  font-weight: bold;
}